*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar{
width: 100%;
background-color: black;
}

.navbar ul{
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar ul a {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}

.hero {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('./img/coffeehouse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: #fff;
    font-size: 45px;
    line-height: 50px;
}

.hero .first-p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: black;
    padding: 5px;
}
.hero .second-p {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
}

.about {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.about h2 {
    width: fit-content;
    margin: 0 auto;
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
}

.about .about-first-div {
    margin-top: 60px;
}

.about .about-first-div p {
    letter-spacing: 1px;
    line-height: 25px;
}

.about .about-first-div .about-second-p {
    margin-top: 15px;
}

.about .about-first-div .quote {
    margin-top: 20px;
    background-color: gray;
    padding: 6px;
    border-left: 6px solid black;
}

.about .about-first-div .quote .quote-second-p {
    margin-top: 10px;
}

.about .about-first-div img {
    margin-top: 25px;
    max-width: 100%;
}

.about .about-first-div .time-address {
    margin-top: 10px;
}